<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="certificados.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,300&display=swap"
        rel="stylesheet">

    <title>HypeDev</title>
</head>

<body>
    <nav class="navbar navbar-expand-sm">
        <div class="container">


            <section class="header-menu">
                <a href="/hypedev-main/views/certificados/certificados.html">Certificados</a>
                <a href="/hypedev-main/views/agendamento/agendamento.html">Agendamentos</a>
                <a href="/hypedev-main/views/sobrenos/sobrenos.html">Sobre Nós</a>
            </section>
        </div>
    </nav>

    <div class="col-sm-12">
        <div class="card col-md-8">
            <div class="card-body">
                Você não possui nenhum certificado ainda!
                <br> Mas não se preocupe, na página inicial você encontra diversos
                certificados disponíveis. <br>

                <a href="/hypedev-main/index.html">
                    <button type="button" class="btn">Retornar à tela inicial.</button>
                </a>
            </div>


        </div>
    </div>


    <section id="footer">
        <div class="container">
            <center>
                <p> Copyright | 2021 </p>
            </center>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>


</html>